.tweets-list {
	position: absolute;
    right: 0;
    top: 40px;
    width: 470px;
    padding: 15px 15px 45px;
    background: $tweetsListPanelBkg;
    display: none;
    &.enabled {
    	display: block;
    }
    
    .wrapper {
    	height: 590px;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    padding: 10px;
	     &::-webkit-scrollbar {
    		width: .3rem;
		}
 
		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
 
		&::-webkit-scrollbar-thumb {
		  background-color: $black;
		  outline: 1px solid $projectDescColor;
		}
    }
   
}