.app-wrapper {
	width: 100%;
	max-width: 1600px;
	header{
		.navigation-wrapper {
			.logo {
				background: url('img/icons.png') no-repeat -3px -3px;
				width: 87px;
				height: 25px;
				display: inline-block;
				margin: 0;
    			padding: 0;
			}
			ul {
				list-style: none;
				display: inline-block;
			    margin: 0;
			    padding: 0;
			    li {
			    	display: inline;
			    	margin: 0 12px;
			    	a {
			    		font-size: .7rem;
			    		font-weight: 600;
			    	}
			    }
			    .tweet-box {
			    	display: none;
			    }
			}
		}
	}
	.content-holder {
		max-width: 960px;
    	margin: 0 auto;
		>h2 {
			font-size: 2rem;
			border-bottom: 2px solid $strokeColor;
    		padding: 60px 0 40px;
    		margin: 0 0 70px;
    		line-height: 2rem;
			.sig {
				color: $linkHoverColor;
			}
		}
		.feed-items-wrapper {
			
			.section-label {
				padding-bottom: 20px;
			    margin-bottom: 20px;
			    border-bottom: 2px solid $strokeColor;
				h3 {
					color: $sectionLabelColor;
					font-size: 1.3rem;
					display: inline;
				}
				.view-all-link {
					color: $linkHoverColor;
					font-size: .8rem;
    				margin-left: 12px;
					&:hover {
						color: $bodyTextColor;
					}
				}
			}
			.featured-work-feed {
				margin-bottom: 80px
			}
		}
	}
}